div.container {
  width: 888px;
}

.grid-1 {
  width: 37px;
}

.grid-2 {
  width: 74px;
}

.grid-3 {
  width: 111px;
}

.grid-4 {
  width: 148px;
}

.grid-5 {
  width: 185px;
}

.grid-6 {
  width: 222px;
}

.grid-7 {
  width: 259px;
}

.grid-8 {
  width: 296px;
}

.grid-9 {
  width: 333px;
}

.grid-10 {
  width: 370px;
}

.grid-11 {
  width: 407px;
}

.grid-12 {
  width: 444px;
}

.grid-13 {
  width: 481px;
}

.grid-14 {
  width: 518px;
}

.grid-15 {
  width: 555px;
}

.grid-16 {
  width: 592px;
}

.grid-17 {
  width: 629px;
}

.grid-18 {
  width: 666px;
}

.grid-19 {
  width: 703px;
}

.grid-20 {
  width: 740px;
}

.grid-21 {
  width: 777px;
}

.grid-22 {
  width: 814px;
}

.grid-23 {
  width: 851px;
}

.grid-24 {
  width: 888px;
}
